.Message {
  display: none;
  background: #fff;
  padding: 0px;
  /* transition: 0.25s ease-in-out; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px, rgba(0, 0, 0, 0.22) 0px 3px 10px;
  z-index: 1000;
  font-size: 12px;
}

.MessageShow {
  display: block;
  padding: 10px;
}

.MD-Box {
  background-color: #fff;
  /* display: flex; */
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px rgba(0, 0, 0, 0.117647) 0px
    1px 4px;
  padding: 10px;
  margin-top: 20px;
}

.MD-Box:hover {
  background-color: #f6f6f6;
}

.date,
.time {
  text-align: right;
  font-size: 14px;
}

.wordWrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
