ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  opacity: 0.8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom right,
    rgb(8, 253, 253),
    rgb(0, 26, 255)
  );
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgb(8, 253, 253);
  color: white;
}

nav button {
  margin-top: 13px;
}
